{% extends 'layout.html.twig' %}

{% block content %}
	{% if errors %}
        {% for error in errors %}
	    <p class="text-warning text-center">{{ error}}</p>
        {% endfor %}
	{% endif %}
<script>

    setTimeout(function () {
   //Redirection vers index
   window.location.href= '/activity/index';
}, 2000);
</script>
{% endblock %}